.el-tree-node__content {
    transition: all var(--ryo-motion-standard);
    height: 36px;

    font-size: 14px;
}

.el-tree-node__content:hover {
    background-color: rgba(var(--ryo-color-state-layers-dark-on-surface-variant), var(--ryo-opacity-state-layers-008));
    border-radius: 18px;
}

.el-tree-node:focus > .el-tree-node__content {
    background-color: var(--ryo-color-primary-container);
    border-radius: 16px;
}

.el-tree-node__expand-icon, .el-tree-node__label {
    margin-left: 12px;
}

.el-tree-node__content>.el-tree-node__expand-icon{
    width: 24px;
    padding: 0;
}

.el-tree-node__label {
    color: var(--ryo-color-on-surface-variant);
}

.el-tree-node:focus > .el-tree-node__content > .el-tree-node__label {
    color: var(--ryo-color-on-primary-container);
}

.el-tree-node:focus > .el-tree-node__content > .el-tree-node__expand-icon:before {
    background-color: var(--ryo-color-on-primary-container);
}

/*图标大小、样式和自定义图案*/
.el-tree-node__expand-icon svg {
    display: none;
}

.el-tree-node__expand-icon:before {
    content: '';
    height: 24px;
    width: 24px;
    -webkit-mask-image: url('/src/assets/icons/icon_chevron.svg');
    background-color: var(--ryo-color-on-surface-variant);
}

.el-tree-node__expand-icon.is-leaf{
    visibility: visible;
}

.el-tree-node__expand-icon.is-leaf:before {
    -webkit-mask-image: url('/src/assets/icons/icon_file_item.svg');
}

.el-tree__empty-text{
    font-size: 14px;
    color: var(--ryo-color-on-surface-variant);
}